
<div>
  <form [formGroup]="myForm" class="p-fluid p-formgrid grid">

    <div class="field col-12 md:col-12">
      <label htmlFor="estado">Estados *</label>
      <p-dropdown
        [options]="estados"
        placeholder="Selecciona un estado"
        [autoDisplayFirst]="false"
        formControlName="estado"
        [value]="myForm.get('estado')"

      />

      <small id="username-help" *ngIf="msjError!=undefined" class="text-red">
        {{msjError!=undefined ? msjError : ''}}
    </small>
    </div>


    <div class="field col-12">
      <div class="flex justify-content-between flex-wrap">
        <p-button
        pRipple
        label="Cancelar"
        icon="pi pi-times"

        (click)="cancel()"
        severity="secondary"
        />
    <p-button
        pRipple
        label="Guardar"
        icon="pi pi-check"
        [disabled]="myForm.invalid"
        (onClick)="save()" />

      </div>

    </div>

  </form>
</div>
