<div class="card" style="width: 80%;">
  <h5 class="mb-5 ">Editar Insumo</h5>
  <form [formGroup]="myForm" class="p-fluid p-formgrid grid">
    <div class="field col-12 md:col-12">
      <label htmlFor="firstname2">Nombre *</label>
      <input pInputText id="firstname2" type="text" formControlName="nombre" placeholder="Nombre"

      appCustomInputError
      [valueForm]="(myForm.get('nombre')?.value)"
      [errors]="myForm.get('nombre')?.errors"
      />
      <span
      customLabel
      [valueForm]="(myForm.get('nombre')?.value)"
      [errors]="myForm.get('nombre')?.errors"
    ></span>
    </div>

    <div class="field col-12 md:col-12">
      <label htmlFor="unidadMedida">Unidad de medida *</label>
      <p-dropdown
        [options]="unidadMedidaArray"
        placeholder="Selecciona una unidad de medida"
        [autoDisplayFirst]="false"
        formControlName="unidadMedida"
        [value]="myForm.get('unidadMedida')"
      />
    </div>

    <div class="field col-12 md:col-12">
      <label htmlFor="descripcionid">Descripción</label>
      <textarea
      formControlName="descripcion"
      placeholder="Descripción"
      rows="5"
      cols="30"
      pInputTextarea
      [autoResize]="true"

      >
      </textarea>
    </div>
    <div class="field col-12">
      <div class="flex justify-content-between flex-wrap">
        <p-button
        pRipple
        label="Volver"
        icon="pi pi-times"

        (click)="cancel()"
        severity="secondary"
        />
    <p-button
        pRipple
        label="Guardar"
        icon="pi pi-check"
        [disabled]="myForm.invalid"
        (click)="save()" />

      </div>

    </div>

  </form>
</div>
