<p-button
  pRipple
  label="Volver"
  icon="pi pi-arrow-left"
  styleClass="mb-2"
  (click)="back()"
  severity="secondary"
/>
<div *ngIf="!!elaboracionDetalle" class="card relative">
  <div class="mt-2">
    <div class="mb-4 font-bold">Detalle de elaboración</div>

    <div class="grid text-lg">
      <div class="col-6">
        Receta: <b>{{ elaboracionDetalle.receta.nombre }}</b>
      </div>
      <div class="col-6">
        Código: <b>{{ elaboracionDetalle.codigo }}</b>
      </div>
      <div class="col-6">
        Autor: <b>{{ autor }}</b>
      </div>
      <div class="col-6">
        Estado:
        <p-tag
          class="ml-1"
          [value]="elaboracionDetalle.estado.estado"
          [severity]="getEstadoSeverity(elaboracionDetalle.estado.estado)"
        />
      </div>
      <div class="col-6">
        Cantidad:
        <b
          >{{ elaboracionDetalle.cantidad }}
          {{ elaboracionDetalle.cantidad > 1 ? "UNIDADES" : "UNIDAD" }}</b
        >
      </div>
      <div class="col-6">
        Actualizado:
        <b>{{ elaboracionDetalle.estado.fecha | dateTransformPipe }}</b>
      </div>
    </div>
  </div>

  <div>
    <p-divider />

    <div class="bg-item border-round">
      <p-table
        #dt2
        [value]="elaboracionDetalle.notas"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [alwaysShowPaginator]="false"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="['autor.username', 'fecha', 'descripcion']"
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Notas</h5>
            <p-button
              pRipple
              label="Agregar Nota"
              icon="pi pi-plus"
              styleClass="mb-2"
              (click)="openNotaForm()"
              severity="primary"
            />
          </div>
        </ng-template>
        <ng-template pTemplate="header" >
          <tr>
            <th pSortableColumn="fecha">Fecha<p-sortIcon field="fecha" /></th>
            <th pSortableColumn="autor.username">
              Autor <p-sortIcon field="autor.username" />
            </th>
            <th pSortableColumn="descripcion">
              Nota <p-sortIcon field="descripcion" />
            </th>

            <th style="width:80px"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              {{ item.fecha | dateTransformPipe }}
            </td>
            <td>{{ item.autor.username }}</td>

            <td>
              <b>{{ item.descripcion }}</b>
            </td>
            <td style="width:80px">
              <p-button
                pRipple
                icon="pi pi-trash"
                [rounded]="true"
                [text]="true"
                severity="secondary"
                (onClick)="deleteNota(item)"
              />
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center py-4" [attr.colspan]="6">
             Aún no se han agregado notas
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="mt-3 bg-item border-round">
      <p-table
        #dt
        [value]="elaboracionDetalle.estados"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [alwaysShowPaginator]="false"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="['estado', 'fecha', 'autor.username']"
      >
        <ng-template pTemplate="caption">
          <h5>Historial de Estados</h5>

          <div class="flex align-items-center justify-content-between">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Buscar..."
              />
            </span>
            <p-button
              pRipple
              label="Cambiar estado"
              icon="pi pi-tag"
              styleClass="mb-2"
              (click)="openCambiarEstado()"
              severity="primary"
            />
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="fecha">
              Fecha Inicio<p-sortIcon field="fecha" />
            </th>
            <th pSortableColumn="autor.username">
              Autor <p-sortIcon field="autor.username" />
            </th>
            <th pSortableColumn="estado">
              Estado <p-sortIcon field="estado" />
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              {{ item.fecha | dateTransformPipe }}
            </td>
            <td>{{ item.autor.username }}</td>

            <td>
              <p-tag
                [value]="item.estado"
                [severity]="getEstadoSeverity(item.estado)"
              />
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center py-4" [attr.colspan]="6">
              No se encontraron resultados
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="mt-3 bg-item border-round">
      <p-table
        #dt3
        [value]="consumos"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [alwaysShowPaginator]="false"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="[
          'cantidad',
          'ingrediente',
          'ingresoCodigo',
          'ingresoFecha',
          'unidadMedida',
          'familiaProductora',
          'tipo'
        ]"
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <h5>Consumos de Insumos y Materias Primas</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt3.filterGlobal($event.target.value, 'contains')"
                placeholder="Buscar..."
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="ingrediente">
              Ingrediente<p-sortIcon field="ingrediente" />
            </th>
            <th pSortableColumn="cantidad">
              Cantidad <p-sortIcon field="cantidad" />
            </th>
            <th pSortableColumn="tipo">Tipo <p-sortIcon field="tipo" /></th>
            <th pSortableColumn="familiaProductora">
              Familia Productora <p-sortIcon field="familiaProductora" />
            </th>
            <th pSortableColumn="ingresoCodigo">
              Código <p-sortIcon field="ingresoCodigo" />
            </th>
            <th pSortableColumn="ingresoFecha">
              Fecha Ingreso <p-sortIcon field="ingresoFecha" />
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              {{ item.ingrediente }}
            </td>
            <td>{{ item.cantidad }} {{ item.unidadMedida }}</td>
            <td>
              <b>{{ item.tipo }}</b>
            </td>
            <td>{{ item.familiaProductora }}</td>
            <td>{{ item.ingresoCodigo }}</td>
            <td>{{ item.ingresoFecha | dateTransformPipe }}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center py-4" [attr.colspan]="6">
              No se encontraron resultados
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
