<p-button
  pRipple
  label="Volver"
  icon="pi pi-arrow-left"
  styleClass="mb-2"
  (click)="back()"
  severity="secondary"
/>
<div *ngIf="!!usuario" class="card" style="max-width: 600px">
  <h5 class="mb-5 m-2">Editar usuario</h5>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12 md:col-12">
        <label htmlFor="nombre">Nombre <span class="text-danger">*</span> </label>
        <input
          pInputText
          id="firstname2"
          type="text"
          placeholder="Nombre"
          formControlName="nombre"
        />
      </div>
      <div class="field col-12 md:col-12">
        <label htmlFor="apellido">Apellido <span class="text-danger">*</span> </label>
        <input
          pInputText
          id="apellido"
          type="text"
          placeholder="Apellido"
          formControlName="apellido"
        />
      </div>
      <div class="field col-12 md:col-12">
        <label htmlFor="username">Nombre de usuario <span class="text-danger">*</span> </label>
        <input
          pInputText
          id="username"
          type="text"
          placeholder="Nombre de usuario"
          formControlName="username"
        />
      </div>
      <div class="field col-12 md:col-12">
        <label htmlFor="email">Email <span class="text-danger">*</span> </label>
        <input
          pInputText
          id="email"
          type="text"
          placeholder="Email"
          formControlName="email"
        />
      </div>
      <div class="field col-12 md:col-12">
        <label htmlFor="password">Contraseña </label>
        <input
          pInputText
          id="password"
          type="password"
          placeholder="Contraseña"
          formControlName="password"
        />
      </div>

      <div class="field col-12 md:col-12">
        <label htmlFor="rol">Rol <span class="text-danger">*</span> </label>
        <p-dropdown
          [options]="roles"
          optionLabel="label"
          optionValue="value"
          placeholder="Selecciona un rol"
          [autoDisplayFirst]="false"
          formControlName="rol"
          [value]="form.get('rol')"
        />
      </div>
      <span class="ml-auto"
        ><p-button
          label="Guardar"
          size="large"
          type="submit"
          [disabled]="form.invalid"
          [loading]="loading"
      /></span>
    </div>
  </form>
</div>
