<p-button
pRipple
label="Volver"
icon="pi pi-arrow-left"
styleClass="mb-4"
(click)="cancel()"
severity="secondary"
/>
<div class="card" style="width: 80%;">
  <h5 class="mb-5 m-2">Agregar Ingreso</h5>
  <form [formGroup]="myForm" class="p-fluid p-formgrid grid">


    <div class="field col-12 md:col-12" >
      <label htmlFor="familiaPrimaId" class="mr-3">Materia Prima: </label>
      <input
        id="disabled-input"
        type="text"
        pInputText
        [disabled]="true"
        [value]="materiaPrima?.nombre"
        class="font-bold"
        style="color: var(--surface-950);"

       />
    </div>

    <div class="field col-12 md:col-12">
      <label htmlFor="familiaPrimaId" class="mr-3">Familia Productora <span class="text-danger">*</span></label>
      <span
      customLabel
      [valueForm]="(myForm.get('familiaPrimaId')?.value)"
      [errors]="myForm.get('familiaPrimaId')?.errors"
    ></span>
      <p-dropdown
        [options]="familias"

        placeholder="Selecciona una familia productora"
        [autoDisplayFirst]="false"
        formControlName="familiaPrimaId"
        optionLabel="nombre" optionValue="id"
        [filter]="true"
        filterBy="nombre"
        [showClear]="true"
        appCustomInputError
        [valueForm]="(myForm.get('familiaPrimaId')?.value)"
        [errors]="myForm.get('familiaPrimaId')?.errors"
      />

    </div>

    <div class="field col-12 md:col-12">
      <label htmlFor="valorCompra">Valor de compra <span class="text-danger">*</span></label>

      <p-inputGroup>
        <p-inputGroupAddon>$</p-inputGroupAddon>
        <p-inputNumber
        inputId="locale-user"
        [minFractionDigits]="2"
        id="valorCompra" formControlName="valorCompra"
        appCustomInputError
        [valueForm]="(myForm.get('valorCompra')?.value)"
        [errors]="myForm.get('valorCompra')?.errors"
        />
    </p-inputGroup>

      <span
      customLabel
      [valueForm]="(myForm.get('valorCompra')?.value)"
      [errors]="myForm.get('valorCompra')?.errors"
    ></span>
    </div>

    <div class="field col-12 md:col-12">
      <label htmlFor="unidadMedida">Cantidad <span class="text-danger">*</span></label>
      <p-inputGroup>
        <p-inputGroupAddon>
            {{materiaPrima?.unidadMedida}}
        </p-inputGroupAddon>
        <input pInputText placeholder="Ingrese una cantidad" formControlName="cantidad" [value]="myForm.get('cantidad')" />
    </p-inputGroup>
    </div>
    <div class="field col-12 md:col-12">
      <label htmlFor="estado">Estado <span class="text-danger">*</span></label>
      <p-dropdown
        [options]="estados"
        placeholder="Selecciona un estado"
        [autoDisplayFirst]="false"
        formControlName="estado"
        [value]="myForm.get('estado')"
      />
    </div>

    <div class="field col-12 md:col-12">
      <label htmlFor="descripcionid">Fecha de ingreso <small class="text-color-secondary">(opcional)</small>  </label>
      <p-calendar
        inputId="calendar-24h"
        class="min-w-full"
        [placeholder]="currentDate | date : 'dd/MM/yyyy'"
        [showTime]="true"
        [hourFormat]="24"
        [showIcon]="true"
        formControlName="fecha"

       />

    </div>

    <div class="field col-12 md:col-12">
      <label htmlFor="descripcionid">Descripción <small class="text-color-secondary">(opcional)</small></label>
      <textarea
      formControlName="descripcion"
      rows="4"
      cols="20"
      pInputTextarea
      [autoResize]="true"

      >
      </textarea>
    </div>



    <div class="field col-12">
      <div class="flex justify-content-between flex-wrap">
        <p-button
        pRipple
        label="Cancelar"
        icon="pi pi-times"

        (click)="cancel()"
        severity="secondary"
        />
    <p-button
        pRipple
        label="Guardar"
        icon="pi pi-check"
        [disabled]="myForm.invalid"
        (click)="save()" />

      </div>

    </div>

  </form>
</div>
