<p-button
  pRipple
  label="Volver"
  icon="pi pi-arrow-left"
  styleClass="mb-2"
  (click)="back()"
  severity="secondary"
/>
<div class="card" style="max-width: 600px">
  <h5 class="mb-5 m-2">Agregar usuario</h5>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-formgrid grid">
      <div class="field col-12 md:col-12">
        <label htmlFor="nombre">Nombre <span class="text-danger">*</span> </label>
        <input
          pInputText
          id="firstname2"
          type="text"
          placeholder="Nombre"
          formControlName="nombre"
          appCustomInputError
          [errors]="form.get('nombre')?.errors"
        />
        <span
          customLabel
          [valueForm]="form.get('nombre')?.value"
          [errors]="form.get('nombre')?.errors"
        ></span>
      </div>
      <div class="field col-12 md:col-12">
        <label htmlFor="apellido">Apellido <span class="text-danger">*</span> </label>
        <input
          pInputText
          id="apellido"
          type="text"
          placeholder="Apellido"
          formControlName="apellido"
          appCustomInputError
          [errors]="form.get('apellido')?.errors"
        />
        <span
          customLabel
          [valueForm]="form.get('apellido')?.value"
          [errors]="form.get('apellido')?.errors"
        ></span>
      </div>
      <div class="field col-12 md:col-12">
        <label htmlFor="username">Nombre de usuario <span class="text-danger">*</span> </label>
        <input
          pInputText
          id="username"
          type="text"
          placeholder="Nombre de usuario"
          formControlName="username"
          appCustomInputError
          [errors]="form.get('username')?.errors"
        />
        <span
          customLabel
          [valueForm]="form.get('username')?.value"
          [errors]="form.get('username')?.errors"
        ></span>
      </div>
      <div class="field col-12 md:col-12">
        <label htmlFor="email">Email <span class="text-danger">*</span> </label>
        <input
          pInputText
          id="email"
          type="text"
          placeholder="Email"
          formControlName="email"
          appCustomInputError
          [errors]="form.get('email')?.errors"
        />
        <span
          customLabel
          [valueForm]="form.get('email')?.value"
          [errors]="form.get('email')?.errors"
        ></span>
      </div>
      <div class="field col-12 md:col-12">
        <label htmlFor="password">Contraseña <span class="text-danger">*</span> </label>
        <input
          pInputText
          id="password"
          type="password"
          placeholder="Contraseña"
          formControlName="password"
          appCustomInputError
          [errors]="form.get('password')?.errors"
        />
        <span
          customLabel
          [valueForm]="form.get('password')?.value"
          [errors]="form.get('password')?.errors"
        ></span>
      </div>

      <div class="field col-12 md:col-12">
        <label htmlFor="rol">Rol <span class="text-danger">*</span> </label>
        <p-dropdown
          [options]="roles"
          optionLabel="label"
          placeholder="Selecciona un rol"
          [autoDisplayFirst]="false"
          formControlName="rol"
          [value]="form.get('rol')"
          appCustomInputError
          [errors]="form.get('rol')?.errors"
        />

        <span
          customLabel
          [valueForm]="form.get('rol')?.value"
          [errors]="form.get('rol')?.errors"
        ></span>
      </div>
      <span class="ml-auto"
        ><p-button
          label="Guardar"
          size="large"
          type="submit"
          [disabled]="form.invalid"
      /></span>
    </div>
  </form>
</div>
