a.active-route, a.active-route > span {
  font-weight: 800 !important;
  color: var(--text-color) !important;
}

.active-route {
  background-color: #05fba52b !important;
}

.active-route:hover {
  background: rgba(5, 251, 165, 0.28) !important;
}

.layout-sidebar .layout-menu ul a .layout-menuitem-icon, i {
  margin-right: .5rem;
  color: #10b981 !important;
  width: 1.28571429em;
  text-align: center;

}
