.layout-sidebar .sidebar-header {
  padding: unset;

}

.layout-sidebar{
  background-color: var(--surface-overlay);
}

.layout-menu-container {
  font-size: 1.2rem;
}

.sidebar-footer{
  background-color: var(--surface-overlay);
  margin-bottom: 1rem;
}
