.layout-sidebar .sidebar-header {
  padding: unset;

}

.layout-sidebar{
  background-color: var(--surface-overlay);
  border: 1px solid var(--surface-border);

}

.layout-menu-container {
  font-size: 1.2rem;
}

.sidebar-footer{
  background-color: 1px solid var(--surface-overlay) !important;
  margin-bottom: 1rem;
}
