<div
  class="card flex justify-content-end flex-wrap border-noround"
  *ngIf="isResponsive; else sidebarStatic"
>
  <p-sidebar #sidebarRef [(visible)]="sidebarVisible">
    <ng-template pTemplate="headless">
      <div class="flex flex-column h-full">
        <div
          class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0"
        >
          <span class="inline-flex align-items-center gap-2 text-primary">
            <i class="fa-solid fa-industry text-4xl"></i>
            <span class="font-semibold text-xl">Sala de Elaboración</span>
          </span>
          <span>
            <p-button
              type="button"
              (click)="closeCallback($event)"
              icon="pi pi-times"
              rounded="true"
              [text]="true"
              styleClass="h-3rem w-3rem absolute top-0 right-0"
            ></p-button>
          </span>
        </div>
        <div class="overflow-y-auto">
          <ul class="list-none p-3 m-0">
            <li>
              <app-item-menu
                *ngFor="let item of itemsRoutes"
                [item]="item"
              ></app-item-menu>
            </li>
          </ul>
        </div>
        <div class="mt-auto mb-2">
          <hr class="mx-3 border-top-1 border-none surface-border" />
          <a
            pRipple
            class="m-3 flex align-items-center cursor-pointer p-3 gap-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple mb-5"
          >
            <p-avatar
              image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
              shape="circle"
            />
            <span class="font-bold">Amy Elsner</span>
          </a>
        </div>
      </div>
    </ng-template>
  </p-sidebar>
  <div class="flex flex-1 justify-content-between text-primary">
    <i class="fa-solid fa-industry text-4xl"></i>
    <p-button
      (click)="sidebarVisible = true"
      [outlined]="true"
      icon="pi pi-bars"
      styleClass="text-lg"
      class="text-lg"
    ></p-button>
  </div>
</div>

<ng-template #sidebarStatic>
  <div class="layout-sidebar">
    <div class="sidebar-header">
      <div class="flex flex-column h-full">
        <div
          class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0"
        >
          <span class="inline-flex align-items-center gap-4 text-primary">
            <i class="fa-solid fa-industry text-4xl"></i>
            <span class="font-semibold text-2xl">Sala de Elaboración</span>
          </span>
          <span> </span>
        </div>
        <hr class="mx-3 border-top-1 border-none surface-border" />
      </div>
    </div>
    <div class="layout-menu-container">
      <ul class="list-none p-3 m-0" style="margin-bottom: 110px">
        <li>
          <app-item-menu
            *ngFor="let item of itemsRoutes"
            [item]="item"
          ></app-item-menu>
        </li>
      </ul>
    </div>
    <div class="sidebar-footer">
      <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
      <a
        pRipple
        class="m-3 flex align-items-center cursor-pointer p-3 gap-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
      >
        <p-avatar
          shape="circle"
          label="AU"
          size="large"
          [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
        />
        <span class="font-bold">Admin User</span>
      </a>
    </div>
  </div>
</ng-template>
