/* You can add global styles to this file, and also import other style files */
@import "./app/assets/layout/style.css";
@import "./app/assets/layout/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';
@import "@fortawesome/fontawesome-free/css/all.css";

html{
  font-size: 14px;
}

a{
    text-decoration: none;
}




.p-datatable-header{
  background: none;
  border-top: none;
}