<p-button
  pRipple
  label="Volver"
  icon="pi pi-arrow-left"
  styleClass="mb-2"
  (click)="cancel()"
  severity="secondary"
/>
<div class="card" [ngStyle]="{ maxWidth: '1200px' }">
  <h5 class="mb-5 m-2">Agregar receta</h5>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid p-formgrid grid">
    
     
      <div class="field col-12 md:col-12">
        <h5>Detalles</h5>
        <label htmlFor="nombre">Nombre</label>
        <input
          pInputText
          id="firstname2"
          type="text"
          placeholder="Nombre"
          formControlName="nombre"
          appCustomInputError
          [errors]="form.get('nombre')?.errors"
        />
        <span
          customLabel
          [valueForm]="form.get('nombre')?.value"
          [errors]="form.get('nombre')?.errors"
        ></span>
      </div>
      <div class="field col-12 md:col-12">
        <label htmlFor="descripcion">Descripción</label>
        <input
          pInputText
          id="descripcion"
          type="text"
          placeholder="Descripcion"
          formControlName="descripcion"
          appCustomInputError
          [errors]="form.get('descripcion')?.errors"
        />
        <span
          customLabel
          [valueForm]="form.get('descripcion')?.value"
          [errors]="form.get('descripcion')?.errors"
        ></span>
      </div>
      <p-divider styleClass="my-0 w-full" [ngStyle]="{ width: '100%' }" />
      <div class="my-4 field col-12 md:col-12">
        <h5>Ingredientes</h5>
        <p class="text-500">
          Los ingredientes deben estar especificados para la elaboración de <b>una
          unidad</b> del producto final. <br />
          Debes incluir al menos un ingrediente de cada tipo: materia prima y
          receta.
        </p>
      </div>
      <div class="grid w-full field col-12">
        <div class="col">
          <label htmlFor="familiaPrimaId" class="mr-3">Materias Primas</label>
          <p-dropdown
            #materiaPrimaDropdown
            [options]="filteredMateriasPrimas"
            placeholder="Selecciona una materia prima"
            [autoDisplayFirst]="false"
            optionLabel="nombre"
            [filter]="true"
            filterBy="nombre"
            [showClear]="true"
            (onChange)="onSelectMateriaPrima($event)"
          >
            <ng-template let-item pTemplate="item">
              <div
                class="flex align-items-center justify-content-between gap-2"
              >
                {{ item.nombre }}
                <div><i class="fa-solid fa-plus text-lg opacity-50"></i></div>
              </div>
            </ng-template>
          </p-dropdown>
          <div
            class="flex flex-column gap-1 mt-2"
            formArrayName="materiasPrimas"
          >
            <div
              *ngFor="let item of selectedMateriasPrimas; index as i"
              class="shadow-1 px-2 pl-2 pr-1 flex justify-content-between align-items-center border-round-md"
            >
              <span>
                <b>{{ item.nombre }}</b></span
              >
              <div class="flex gap-2 align-items-center">
                <p-inputGroup class="w-10rem" [style]="{ height: '2.5rem' }">
                  <p-inputNumber
                    [maxFractionDigits]="2"
                    [formControlName]="i"
                    placeholder="Cantidad"
                    size="2"
                  />
                  <p-inputGroupAddon>{{ item.unidadMedida }}</p-inputGroupAddon>
                </p-inputGroup>
                <p-button
                  pRipple
                  icon="pi pi-trash"
                  [rounded]="true"
                  [text]="true"
                  severity="secondary"
                  (onClick)="onDeleteMateriaPrima(item.id)"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <label htmlFor="familiaPrimaId" class="mr-3">Insumos</label>
          <p-dropdown
            #insumosDropdown
            [options]="filteredInsumos"
            placeholder="Selecciona un insumos"
            [autoDisplayFirst]="false"
            optionLabel="nombre"
            [filter]="true"
            filterBy="nombre"
            [showClear]="true"
            (onChange)="onSelectInsumo($event)"
          >
            <ng-template let-item pTemplate="item">
              <div
                class="flex align-items-center justify-content-between gap-2"
              >
                {{ item.nombre }}
                <div><i class="fa-solid fa-plus text-lg opacity-50"></i></div>
              </div>
            </ng-template>
          </p-dropdown>
          <div class="flex flex-column gap-1 mt-2" formArrayName="insumos">
            <div
              *ngFor="let item of selectedInsumos; index as i"
              class="shadow-1 px-2 pl-2 pr-1 flex justify-content-between align-items-center border-round-md"
            >
              <span>
                <b>{{ item.nombre }}</b></span
              >
              <div class="flex gap-2 align-items-center">
                <p-inputGroup class="w-10rem" [style]="{ height: '2.5rem' }">
                  <p-inputNumber
                    [maxFractionDigits]="2"
                    [formControlName]="i"
                    placeholder="Cantidad"
                    size="2"
                  />
                  <p-inputGroupAddon>{{ item.unidadMedida }}</p-inputGroupAddon>
                </p-inputGroup>
                <p-button
                  pRipple
                  icon="pi pi-trash"
                  [rounded]="true"
                  [text]="true"
                  severity="secondary"
                  (onClick)="onDeleteInsumo(item.id)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <span class="ml-auto mt-2"
        ><p-button
          label="Guardar"
          size="large"
          type="submit"
          [disabled]="form.invalid"
      /></span>
  </form>
</div>
